{% extends 'home_page/index.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="back">
    <svg clip-rule="evenodd" stroke="white" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 12.002c0-5.517-4.48-9.997-9.998-9.997-5.517 0-9.997 4.48-9.997 9.997 0 5.518 4.48 9.998 9.997 9.998 5.518 0 9.998-4.48 9.998-9.998zm-1.5 0c0 4.69-3.808 8.498-8.498 8.498s-8.497-3.808-8.497-8.498 3.807-8.497 8.497-8.497 8.498 3.807 8.498 8.497zm-6.711-4.845c.141-.108.3-.157.456-.157.389 0 .755.306.755.749v8.501c0 .445-.367.75-.755.75-.157 0-.316-.05-.457-.159-1.554-1.203-4.199-3.252-5.498-4.258-.184-.142-.29-.36-.29-.592 0-.23.107-.449.291-.591zm-.289 7.564v-5.446l-3.522 2.718z" fill-rule="nonzero"/></svg>
</div>
    <div class="barRight">
        <div class="socialNotifications">
          
        </div>
        <div class="itemBar notifications">
          <svg stroke="white" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 6.5c-.414 0-.75.336-.75.75v5.5c0 .414.336.75.75.75s.75-.336.75-.75v-5.5c0-.414-.336-.75-.75-.75zm-.002-3c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1z" fill-rule="nonzero"/></svg></i>

        </div>
    </div>
     <div class="container" id="body">
            <div class="movies ctx" id="moviesId">
                <div class="sectionCenter sectionMovies" id="movies" name="movies"><div class="circle"></div>
            
                </div>

            </div>
            <div class="music ctx" id="musicId">
                <div class="sectionCenter sectionMusic" id="music" name="music"><div class="circle"></div></div>

            </div>
            <div class="news ctx" id="newsId">
                <div class="sectionCenter sectionNews" id="news" name="news"><div class="circle"></div></div>

            </div>
            <div class="shop ctx " id="shopId">
                <div class="sectionCenter sectionShop" id="shop" name="shop"><div class="circle"></div></div>

            </div>
            <div class="social ctx" id="socialId">
                <div class="sectionCenter sectionSocial" id="social" name="social"><div class="circle"></div>
                
                </div>

            </div>
            <div class="settings ctx" id="settingsId">
                <div class="sectionCenter sectionSettings" id="settings" name="settings"><div class="circle"></div></div>

            </div>
            <div class="dashboard ctx" id="dashboardId">
                <div class="sectionCenter sectionDashboard" id="dashboard" name="dashboard"><div class="circle"></div></div>

            </div>
        </div>
         <div class="popup">
          <div class="tooglePopup"><div>Chat Friends</div></div>
            {% for friend in db %}
                <div class="person" data-id="{{ friend }}"><div class="containerInfoFriends"><div class="imageFriend"></div><div class="friendMessage">{{ friend }}</div></div></div>
            {% endfor %}
        <!--  <div class="person" id="p"><div class="containerInfoFriends"><div class="imageFriend"></div><div class="friendMessage">B</div></div></div>
          <div class="person" id="p"><div class="containerInfoFriends"><div class="imageFriend"></div><div class="friendMessage">C</div></div></div>
          <div class="person" id="p"><div class="containerInfoFriends"><div class="imageFriend"></div><div class="friendMessage">D</div></div></div>
          <div class="person" id="p"><div class="containerInfoFriends"><div class="imageFriend"></div><div class="friendMessage">E</div></div></div>-->
     </div>
     <div class="containerChats">
        {% for friend in db %}
                <div class="chatPerson" id="{{ friend }}">
                <div class="topChat">{{ friend }} <button class="hideChat">Hide</button></div>
                <div class="centerChat" id="{{ friend }}Chat"></div> 
                <div class="bottomChat">
                    <input class="messageChat"><input type="submit" class="btnSendMessage"></div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
